<ul class="view-list">
    <% if (typeof window !=='undefined' ) { %>
        <% for (let item of data) { %>
            <li class="view-list-item">
                <img class="view-img" src="<%= item.imgUrl %>" alt="Cover image of <%= item.title %>" />
                <div class="view-info">
                    <h3 class="view-title">
                        <%= item.title %>
                    </h3>
                    <p class="view-summary">
                        <%= item.summary %>
                    </p>
                </div>
                <button class="view-button" aria-label="play story knop">
                    <svg class="view-button-appearance" fill="none" viewBox="0 0 146 146" width="146" height="146"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M57.0972 109.209C55.0372 110.511 52.9525 110.587 50.8431 109.437C48.7337 108.287 47.677 106.508 47.6729 104.101V41.9039C47.6729 39.5002 48.7296 37.7214 50.8431 36.5676C52.9567 35.4139 55.0413 35.49 57.0972 36.796L107.463 67.8943C109.317 69.0962 110.244 70.7988 110.244 73.0023C110.244 75.2057 109.317 76.9083 107.463 78.1102L57.0972 109.209Z"
                            fill="#FF7151"></path>
                        <circle cx="73" cy="73" r="72" stroke="#FF7151" stroke-width="2"></circle>
                    </svg>
                </button>
                <button class="view-button hide" aria-label="pause story knop">
                    <svg class="view-button-appearance" width="146" height="146" viewBox="0 0 146 146" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="73" cy="73" r="72" stroke="#FF7151" stroke-width="2" />
                        <path
                            d="M86.0373 103.416C83.6475 103.416 81.6008 102.564 79.8975 100.861C78.1942 99.1575 77.344 97.1124 77.3469 94.7254V51.273C77.3469 48.8831 78.1985 46.8365 79.9019 45.1332C81.6052 43.4298 83.6504 42.5796 86.0373 42.5825H94.7278C97.1177 42.5825 99.1643 43.4342 100.868 45.1375C102.571 46.8409 103.421 48.886 103.418 51.273V94.7254C103.418 97.1152 102.567 99.1619 100.863 100.865C99.16 102.569 97.1148 103.419 94.7278 103.416H86.0373ZM51.2754 103.416C48.8856 103.416 46.839 102.564 45.1356 100.861C43.4323 99.1575 42.5821 97.1124 42.585 94.7254V51.273C42.585 48.8831 43.4366 46.8365 45.14 45.1332C46.8433 43.4298 48.8885 42.5796 51.2754 42.5825H59.9659C62.3558 42.5825 64.4024 43.4342 66.1057 45.1375C67.8091 46.8409 68.6593 48.886 68.6564 51.273V94.7254C68.6564 97.1152 67.8047 99.1619 66.1014 100.865C64.3981 102.569 62.3529 103.419 59.9659 103.416H51.2754Z"
                            fill="#FF7151" />
                    </svg>
                </button>

            </li>
        <% } %>
    <% } else { %>
        <% for (let item of data) { %>
            <li class="view-list-item">
                <img class="view-img" src="<%= item.imgUrl %>" alt="Cover image of <%= item.title %>" />
                <div class="view-info">
                    <h3 class="view-title">
                        <%= item.title %>
                    </h3>
                    <p class="view-summary show">
                        <%= item.summary %>
                    </p>
                </div>
                <button class="view-button hide" aria-label="play story knop">
                    <svg class="view-button-appearance" fill="none" viewBox="0 0 146 146" width="146" height="146"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M57.0972 109.209C55.0372 110.511 52.9525 110.587 50.8431 109.437C48.7337 108.287 47.677 106.508 47.6729 104.101V41.9039C47.6729 39.5002 48.7296 37.7214 50.8431 36.5676C52.9567 35.4139 55.0413 35.49 57.0972 36.796L107.463 67.8943C109.317 69.0962 110.244 70.7988 110.244 73.0023C110.244 75.2057 109.317 76.9083 107.463 78.1102L57.0972 109.209Z"
                            fill="#FF7151"></path>
                        <circle cx="73" cy="73" r="72" stroke="#FF7151" stroke-width="2"></circle>
                    </svg>
                </button>
                <button class="view-button hide" aria-label="pause story knop">
                    <svg class="view-button-appearance" width="146" height="146" viewBox="0 0 146 146" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <circle cx="73" cy="73" r="72" stroke="#FF7151" stroke-width="2" />
                        <path
                            d="M86.0373 103.416C83.6475 103.416 81.6008 102.564 79.8975 100.861C78.1942 99.1575 77.344 97.1124 77.3469 94.7254V51.273C77.3469 48.8831 78.1985 46.8365 79.9019 45.1332C81.6052 43.4298 83.6504 42.5796 86.0373 42.5825H94.7278C97.1177 42.5825 99.1643 43.4342 100.868 45.1375C102.571 46.8409 103.421 48.886 103.418 51.273V94.7254C103.418 97.1152 102.567 99.1619 100.863 100.865C99.16 102.569 97.1148 103.419 94.7278 103.416H86.0373ZM51.2754 103.416C48.8856 103.416 46.839 102.564 45.1356 100.861C43.4323 99.1575 42.5821 97.1124 42.585 94.7254V51.273C42.585 48.8831 43.4366 46.8365 45.14 45.1332C46.8433 43.4298 48.8885 42.5796 51.2754 42.5825H59.9659C62.3558 42.5825 64.4024 43.4342 66.1057 45.1375C67.8091 46.8409 68.6593 48.886 68.6564 51.273V94.7254C68.6564 97.1152 67.8047 99.1619 66.1014 100.865C64.3981 102.569 62.3529 103.419 59.9659 103.416H51.2754Z"
                            fill="#FF7151" />
                    </svg>
                </button>
            </li>
        <% } %>
    <% } %>
</ul>